.smsp-navbar {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #048300), color-stop(1, #1dc817));

}

.nav-item {
  color: #3d474c !important;
}

.nav-link {
  color: #3d474c;
}

.navbar-dark .navbar-nav .nav-link {
  color: #3d474c;
}

.fa.fa-power-off.icon-off {
  font-size: 20px;
  color: rgb(255, 0, 0);
}

.smsp-logo {
  width: 120px;
}